@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TUTS University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to TUTS University</h2>
        <p>
            Are you ready to turn it up!
        </p>
    </div>
</div>